
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    margin-top: 40px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Navigation bar */
#navigation-bar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: px;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(44, 97, 25);
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation-bar li a:hover {
    /* background-color: rgb(97, 158, 99); */

    background-color: rgb(97, 158, 99);
    color: #fff;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    transform: scale(0.9);
    box-shadow: 0 3px 15px -2px rgb(135, 195, 137);
    text-decoration: none;
}

li:last-child {
    border-right: none;
    border-left: 1px solid rgb(44, 97, 25);
}

#logout-button {
    float: right;
}

.welcome-div {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.content {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #444444;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #444444;
    font-size: 1.25em;
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #444444;
    font-size: 1.25em;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

input {
    border: none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.25em;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

.btn {
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #16a085;
}

.error-message {
    color: red;
    font-size: 1.25em;
    margin-bottom: 20px;
    text-align: center;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.5;
}

td {
    padding-left: 3%;
    color: black;
    padding: 5px 5px 5px;
    /* margin: 50px 100px; */
    margin: 100%;
    width: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: rgb(112, 128, 144, 50%) solid;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tables-div2 table tr{
    background-color: #85bb65;
  }

  tr:hover {
    box-shadow: 5px 10px 10px 10px rgb(0 0 0 / 10%);
  
    font-size: 15px;
    border-radius: 1rem;
    background-color: rgb(241 245 249);
    transition: all 0.3s ease-in-out;
  }

  .order-container {
    margin: 0 auto;
    max-width: 600px;
    padding: 2rem;
        height: 610px;
      overflow: auto;
  }
  
  
  h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: -0.01562em;
  }
  .order-container h1 {
    text-align: center;
  
  }
  
  .sub-order-container {
    margin-top: 2rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: gainsboro;
  }
  
  .order-label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .item-container {
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 50px;
    padding: 50px;
  }


  
  .item-header {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  
  
  
  .item-quantity,
  .item-price {
    width: 20%;
    text-align: center;
  }
  
  .item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

.item-row:hover {
  box-shadow: 5px 10px 10px 10px rgb(0 0 0 / 10%);
  /* font-size: 15px; */
  background-color: rgb(241 245 249);
  transition: all 0.3s ease-in-out;
  
}
  
  .item-desc,.item-name {
    width: 20%;
  }
  
  .order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .order-number {
    font-size: 1.2rem;
  }
  
  .order-total {
    font-weight: bold;
    font-size: 1.5rem;
  }
