.content {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(182, 248, 226);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    margin-top: 40px;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}


/* Navigation bar */
#navigation-bar {
    background-color: #97df98;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(44, 97, 25);
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(97, 158, 99);
}

li:last-child {
    border-right: none;
    border-left: 1px solid rgb(44, 97, 25);
}