{% extends "base.html" %} {% block content %}
<div class="navigation-bar">
  <ul id="navigation-bar">
    <li><a class="active" href="/homepage">Home</a></li>
    <li><a href="/commitments">Commitments</a></li>
    <li><a href="/account_info">Account Info</a></li>
    <li id="logout-button"><a href="/">Log Out</a></li>
  </ul>
</div>

<div class="homepage">
  <div class="welcome-div">
    <h1>Welcome {{ username }}</h1>
  </div>
  <div class="tables-div">
    <h2 class="table-header">Accounts</h2>

    <div class="item-container">
      <div class="item-header">
        <div class="item-name">Account Name</div>
        <div class="item-quantity">Account Type</div>
        <div class="item-price">Balance</div>
      </div>
      {%for account in account_data%}
      <div dense bordered padding class="rounded-borders item-row" id="test">
        <div class="item-desc">{{ account['description'] }}</div>
        <div class="item-quantity">{{ account['accountType'] }}</div>
        <div class="item-price">${{ account['availableBalance'] }}</div>
      </div>

      {%endfor%}
    </div>
  </div>
  <br />
  <div class="tables-div2">
    <h2 class="table-header">Goals</h2>
    <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
  </div>
  <div class="tables-div">
    <h2 class="table-header">Account Transactions</h2>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<script>
  var username = document.getElementById("username").value;
  document.getElementById("test").onclick = function(){
    alert("you clicked me")
  }
</script>

{% endblock %}
