{% extends "base.html" %}

{% block content %}
<div class="navigation-bar">
    <ul id="navigation-bar">
        <li><a class="active" href="/homepage">Home</a></li>
        <li><a href="/commitments">Commitments</a></li>
        <li><a href="/account_info">Account Info</a></li>
        <li id="logout-button"><a href="/">Log Out</a></li>
    </ul>
</div>


<div class="homepage">
    <div class="welcome-div">
        <h1>Welcome {{ username }}</h1>
    </div>
<div class="tables-div">
    <h2 class="table-header">Accounts</h2>
<table>
  <tr>
    <th>Account Name</th>
    <th>Account Type</th>
    <th>Balance</th>
    <th>Standing</th>
  </tr>
  <tr>
    <!-- Demand Deposit Account (checking) -->
    <td>{{ account_data[1]['description'] }}</td>
    <td>{{ account_data[1]['accountType'] }}</td>
    <td>${{ account_data[1]['availableBalance'] }}</td>
    <td></td>
  </tr>
  <tr>
    <!-- Demand Deposit Account (checking) -->
    <td>{{ account_data[3]['description'] }}</td>
    <td>{{ account_data[3]['accountType'] }}</td>
    <td>${{ account_data[3]['availableBalance'] }}</td>
    <td></td>
  </tr>
  <tr>
    <!-- Savings Account -->
    <td>{{ account_data[2]['description'] }}</td>
    <td>{{ account_data[2]['accountType'] }}</td>
    <td>${{ account_data[2]['availableBalance'] }}</td>
    <td></td>
  </tr>
  <tr>
    <!-- Consumer Credit Card -->
    <td>{{ account_data[0]['description'] }}</td>
    <td>{{ account_data[0]['accountType'] }}</td>
    <td>${{ account_data[0]['currentBalance'] }}</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
<br>


<div class="tables-div">
    <h2 class="table-header">Enrolled Commitments</h2>
    <table>
        <tr>
          <th>Organization Name</th>
          <th>Commitment Availability</th>
          <th>Percent Change</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
</div>

</div>

<script>
    var username = document.getElementById("username").value;
</script>

{% endblock %}
